<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header (title)">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- javascript -->
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/input_button.css" />

    <title th:text="${title}">Title</title>
</head>

<!-- detailBoardForm.html에서 사용 -->
<head th:fragment="headerInDetailBoardForm (title)">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- javascript -->
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>
    <script src="/js/reply.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/input_button.css" />

    <title th:text="${title}">Title</title>
</head>

<!-- boardList.html에서 사용 -->
<head th:fragment="headerInBoardListForm (title)">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- javascript -->
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>
    <script src="/js/likes.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/input_button.css" />

    <title th:text="${title}">Title</title>
</head>
</html>